.Header {
  text-align: center;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.CardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  margin: 3% 3%;
  margin-right: 10px;
}
h1{
  text-align: center;
}